<!DOCTYPE html>
<html lang="en">
<head>
  <title>SOS PET</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-4"
    <form action="submit", method="POST">
      <h2>SOS PET</h2>
      <div class="form-group">
          <label form="username">Usuário</label>
          <input type="username", class="form-control" id="username" name="username"
            placeholder="Username">
        </div>

      <div class="form-group">
          <label form="password">Senha</label>
          <input type="password", class="form-control" id="password" name="password"
            placeholder="Senha">
        </div>

        <div>
          {% for message in messages %}
            <div class="alert alert-danger">
              <strong>Error!</strong> {{ message }}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-success">Entrar</button>
    </form>
</body>
</html>
