{% extends "model-page" %}

{%block content %}

<h1 class="text-center">Detalhes do Pet</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-4"
            <div style="border-color: green; border-style: solid; width: 356px; height: 300px;">
                <img src="{{ pet.photo.url }}" width="350" height="263" style="margin-top: 16px">
            </div>
    </div>
    <div class="col-sm-8">
        <p>{{ pet.description }} </p>
        <h4>Contato</h4>
        <p><b> Tel.: </b>{{ pet.phone }}</p>
        <p><b> E-mail </b>  {{ pet.email }} </p>
        <button type="button" class="btn btn-primary">Alterar</button>
    </div>
</div>

{% endblock %}